$fs_base:16px;
$fs_small:14px;
$fs_title:24px;

$color_base: #363636;
$color_black: #000000;

$fw_semiBold:600;
$fw_normal:400;
$fw_bold:700;

$lh_rel: 150%;
$lh_sm:20px;
$lh_base: 24px;
$lh_title: 29px;
$lh_detail_text: 27px;
